.micropost_edit_small {
	height: 16px;
	width: 80px
}

.micropost_edit_big {
	height: 80px;
	width: 210px
}

.travelnote_edit_small {
	height: 16px;
	width: 80px
}

.travelnote_edit_big {
	height: 80px;
	width: 450px
}

.readview_font {
	font-family: "STKaiti";
	font-size: 1.3em;
	letter-spacing:3px;
	text-align:justify;
	line-height:17pt
}

.readviewtitle {
	font-size: 1.8em;
	letter-spacing:8px;
	font-weight: bold;
}

.readviewtrack {
	font-size: 1.3em;
	font-weight: bold
}
